adfxdda/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adfxdda"
		},
		"connessioneOutputAZdbSQL_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'connessioneOutputAZdbSQL'"
		},
		"connessione_input_MySQL_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'connessione_input_MySQL'"
		},
		"runOgniMinuto_properties_MySQL to AZ SQL DB_parameters_New": {
			"type": "string",
			"defaultValue": "1"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/connessioneOutputAZdbSQL')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('connessioneOutputAZdbSQL_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/integrationRuntimeMZmachine')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/FutureCityAZSQLTable')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "connessioneOutputAZdbSQL",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Name",
						"type": "nvarchar"
					},
					{
						"name": "Title",
						"type": "nvarchar"
					},
					{
						"name": "CountryCode",
						"type": "varchar"
					},
					{
						"name": "District",
						"type": "varchar"
					},
					{
						"name": "Population",
						"type": "int",
						"precision": 10
					}
				],
				"typeProperties": {
					"schema": "stg",
					"table": "FutureCity"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/connessioneOutputAZdbSQL')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Test_Table_AZsql')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "connessioneOutputAZdbSQL",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "valore",
						"type": "int",
						"precision": 10
					},
					{
						"name": "timestamp",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "stg",
					"table": "table_test"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/connessioneOutputAZdbSQL')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/connessione_input_MySQL')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "MySql",
				"typeProperties": {
					"connectionString": "[parameters('connessione_input_MySQL_connectionString')]"
				},
				"connectVia": {
					"referenceName": "integrationRuntimeMZmachine",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/integrationRuntimeMZmachine')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/CityMySQLTable')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "connessione_input_MySQL",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "MySqlTable",
				"schema": [],
				"typeProperties": {
					"tableName": "`city`"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/connessione_input_MySQL')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/MySQL to AZ SQL DB')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "provo link (warning su local mySQL firewall D&T)  tra local MySQL Server e AZ SQL DB",
				"activities": [
					{
						"name": "fromMySQLtoAZdbSQL",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "MySqlSource",
								"query": "select * from `city`\nwhere ID <> 1"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ID",
											"type": "Int32"
										},
										"sink": {
											"name": "ID",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "Name",
											"type": "String"
										},
										"sink": {
											"name": "Name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CountryCode",
											"type": "String"
										},
										"sink": {
											"name": "CountryCode",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "District",
											"type": "String"
										},
										"sink": {
											"name": "District",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Population",
											"type": "Int32"
										},
										"sink": {
											"name": "Population",
											"type": "Int32"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "CityMySQLTable",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "FutureCityAZSQLTable",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "RunStoredProcAZSQL",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "fromMySQLtoAZdbSQL",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[stg].[Aggiungi1rigaXminuto_v1]"
						},
						"linkedServiceName": {
							"referenceName": "connessioneOutputAZdbSQL",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "SendEmailFailure",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "fromMySQLtoAZdbSQL",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://prod-29.westus2.logic.azure.com:443/workflows/6a5d0195f1b64f95861e8ba74a970adf/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=V5bqD1jDw_pHm4JVnjjq0TP5QVFKLfvMmrGMThURjxg",
							"method": "POST",
							"headers": {
								"Content-Type": "application/json"
							},
							"body": {
								"DataFactoryName": "@{pipeline().DataFactory}",
								"PipelineName": "@{pipeline().Pipeline}",
								"Subject": "An error has occurred!",
								"ErrorMessage": "Ciao! The ADF pipeline has not run properly! Please check the logs.",
								"EmailTo": "mzanellato@deloitte.it"
							}
						}
					}
				],
				"parameters": {
					"New": {
						"type": "string",
						"defaultValue": "1"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/CityMySQLTable')]",
				"[concat(variables('factoryId'), '/datasets/FutureCityAZSQLTable')]",
				"[concat(variables('factoryId'), '/linkedServices/connessioneOutputAZdbSQL')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/runOgniMinuto')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "MySQL to AZ SQL DB",
							"type": "PipelineReference"
						},
						"parameters": {
							"New": "[parameters('runOgniMinuto_properties_MySQL to AZ SQL DB_parameters_New')]"
						}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Minute",
						"interval": 1,
						"startTime": "2019-11-10T16:04:00.000Z",
						"timeZone": "UTC"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/MySQL to AZ SQL DB')]"
			]
		}
	]
}