adfxdda/PartialArmTemplates/ArmTemplate_11_10_2019_19_44_43.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adfxdda"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/MySQL to AZ SQL DB')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "provo link (warning su local mySQL firewall D&T)  tra local MySQL Server e AZ SQL DB",
				"activities": [
					{
						"name": "fromMySQLtoAZdbSQL",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "MySqlSource",
								"query": "select * from `city`\nwhere ID <> 1"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ID",
											"type": "Int32"
										},
										"sink": {
											"name": "ID",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "Name",
											"type": "String"
										},
										"sink": {
											"name": "Name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CountryCode",
											"type": "String"
										},
										"sink": {
											"name": "CountryCode",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "District",
											"type": "String"
										},
										"sink": {
											"name": "District",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Population",
											"type": "Int32"
										},
										"sink": {
											"name": "Population",
											"type": "Int32"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "CityMySQLTable",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "FutureCityAZSQLTable",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "RunStoredProcAZSQL",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "fromMySQLtoAZdbSQL",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[stg].[Aggiungi1rigaXminuto_v1]"
						},
						"linkedServiceName": {
							"referenceName": "connessioneOutputAZdbSQL",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "SendEmailFailure",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "fromMySQLtoAZdbSQL",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://prod-29.westus2.logic.azure.com:443/workflows/6a5d0195f1b64f95861e8ba74a970adf/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=V5bqD1jDw_pHm4JVnjjq0TP5QVFKLfvMmrGMThURjxg",
							"method": "POST",
							"headers": {
								"Content-Type": "application/json"
							},
							"body": {
								"DataFactoryName": "@{pipeline().DataFactory}",
								"PipelineName": "@{pipeline().Pipeline}",
								"Subject": "An error has occurred!",
								"ErrorMessage": "Ciao! The ADF pipeline has not run properly! Please check the logs.",
								"EmailTo": "mzanellato@deloitte.it"
							}
						}
					}
				],
				"parameters": {
					"New": {
						"type": "string",
						"defaultValue": "1"
					}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/runOgniMinuto')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "MySQL to AZ SQL DB",
							"type": "PipelineReference"
						},
						"parameters": {
							"New": "1"
						}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Minute",
						"interval": 1,
						"startTime": "2019-11-10T16:04:00.000Z",
						"timeZone": "UTC"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/MySQL to AZ SQL DB')]"
			]
		}
	]
}